.feynman {
  position: relative;
  box-sizing: border-box;
  min-height: 890px;
  background: #f2f2f2 url(../../images/feynman.png) no-repeat bottom left;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-align: center;
}
